html {
  box-sizing: border-box;
}

body {
  color: black;
  padding: 2em;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

h1 {
  margin-bottom: 0.5em;
  color: black;
  font-weight: 100;
  font-size: 2.5em;
  text-transform: uppercase;
}

.min {
  color: blue;
}

.max {
  color: red;
}

.location {
  font-weight: bold;
}

.dayContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid red;
}

.dayFormat {
  text-align: left;
  width: 30%;
  font-weight: bold;
}

.hourly {
  display: flex;
  width: 100%;
  overflow: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.hourly::-webkit-scrollbar-thumb {
  background: #ec6e4c;
  border-radius: 30px;
}

.hourly::-webkit-scrollbar-track {
  background: #555555;
  border-radius: 30px;
}

.hourly > div {
  margin: 1rem;
}

.active,
.dropdown-open,
.dropdown-close,
.button-search {
  cursor: pointer;
}

.currentBody {
  white-space: nowrap;
}

.dropdown-open,
.dropdown-close {
  margin: 5px 0;
}

.button-search {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 4px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
}

@media (min-width: 40rem) {
  .button-search {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
  }
}
