html {
  box-sizing: border-box;
}

body {
  color: black;
  padding: 2em;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

h1 {
  margin-bottom: 0.5em;
  color: black;
  font-weight: 100;
  font-size: 2.5em;
  text-transform: uppercase;
}

input {
  border: 1px solid hsl(0, 0%, 65%);
  padding: 4px 8px;
  font-size: 14px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

@media (min-width: 40rem) {
  input {
    border: 1px solid hsl(0, 0%, 65%);
    padding: 5px 9px;
    font-size: 16px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
}

.min {
  color: blue;
}

.max {
  color: red;
}

.location {
  text-transform: uppercase;
  font-weight: bold;
}

.dayContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid red;
}

.dayFormat {
  text-align: left;
  width: 30%;
  font-weight: bold;
}

.hourly {
  display: flex;
  width: 100%;
  overflow: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.hourly::-webkit-scrollbar-thumb {
  background: #ec6e4c;
  border-radius: 30px;
}

.hourly::-webkit-scrollbar-track {
  background: #555555;
  border-radius: 30px;
}

.hourly > div {
  margin: 1rem;
}

.active,
.dropdown-open,
.dropdown-close,
.button-search {
  cursor: pointer;
}

.currentBody {
  white-space: nowrap;
}

.dropdown-open,
.dropdown-close {
  display: none;
}

@media (min-width: 40rem) {
  .dropdown-open,
  .dropdown-close {
    display: inline;
    background-color: #2b91e8;
    border: none;
    margin: 5px 0;
  }
}

.button-search {
  background-color: #2b91e8;
  border-width: 1px;
  color: white;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 10px 0;
  white-space: nowrap;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

@media (min-width: 40rem) {
  .button-search {
    background-color: #2b91e8;
    border-width: 1px;
    color: white;
    padding: 5px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    white-space: nowrap;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}
