html {
  box-sizing: border-box;
}

body {
  color: #161616;
  padding: 2em;
  margin: 0 auto;
  color: #161616;
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: currentColor;
}

h1 {
  margin-bottom: 0.5em;
  color: #fff;
  font-weight: 100;
  font-size: 2.5em;
  text-transform: uppercase;
}

h2 {
  color: #fff;
  font-weight: 100;
  font-size: 1.5em;
  text-transform: uppercase;
}

hr {
  border: none;
  border-top: 1px solid white;
}

.min {
  color: blue;
}

.max {
  color: red;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

